@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;500&display=swap');

:root {
	--first-color: #23374d;
	--second-color: #1089ff;
	--third-color: #47555e;
	--fourth-color: #eeeeee;
	--fifth-color: #e5e5e5;
}

body {
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: var(--first-color);
}

p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
}

footer {
	background-color: var(--fifth-color);
	margin: 0px;
}

#avatar {
	border: solid var(--first-color) 5px;
	border-radius: 100px;
	background-color: #fff;
}

.navbar,
.btn-primary {
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
	color: #fff;
}

.bg-primary,
.btn-primary {
	background-color: var(--second-color) !important;
}

.container-hero {
	background-color: var(--fourth-color);
	padding: 150px 100px;
}

.description {
	color: var(--third-color);
}

.certificate {
	color: var(--third-color);
	text-decoration: none;
}

.contact-email,
.repository {
	color: var(--first-color);
	text-decoration: none;
}

.certificate:hover,
.contact-email:hover,
.repository:hover {
	color: var(--second-color);
	text-decoration: none;
}

.dev-icons,
.social-icons,
.social-icon {
	font-size: 32px;
}

.fa-brands,
.fa-solid {
	color: var(--third-color);
	text-align: center;
}

.border-img {
	border: solid 2px var(--second-color);
	border-radius: 50px;
}

.carousel-caption {
	background-color: RGBA(71, 85, 94, 0.7);
}

.portfolio-link {
	color: #fff;
	text-decoration: none;
}

.portfolio-link:hover {
	color: var(--first-color);
	text-decoration: none;
}

@media (max-width: 576px) {
	#avatar {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 100%;
	}
	h4 {
		text-align: center;
	}

	.fa-solid,
	.contact-email,
	#contact-phone {
		display: block;
		text-align: center;
	}

	#credit,
	#source-link {
		display: flex;
		justify-content: center !important;
	}
}

@media (min-width: 577px) {
	.responsive-link {
		cursor: not-allowed;
	}
}
