@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;500&display=swap');

:root {
	--first-color: #23374d;
	--second-color: #1089ff;
	--third-color: #47555e;
	--fourth-color: #eeeeee;
	--fifth-color: #e5e5e5;
}

body {
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: var(--first-color);
}

p {
	font-family: 'Montserrat', sans-serif;
}

footer {
	background-color: var(--fifth-color);
	margin: 0px;
}

#avatar {
	border: solid var(--first-color) 5px;
	border-radius: 100px;
	background-color: #fff;
}

.bg-primary,
.btn-primary {
	background-color: var(--second-color) !important;
}

.container-hero {
	background-color: var(--fourth-color);
	padding: 150px 100px;
}

.description {
	color: var(--third-color);
}

.dev-icons,
.social-icons,
.social-icon {
	font-size: 32px;
}

.fa-brands,
.fa-solid {
	color: var(--third-color);
	text-align: center;
}

@media (max-width: 576px) {
	#avatar {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 100%;
	}
}
